body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 242, 239);
}

p {
    font-family: "Work Sans", sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
}

.your-order {
    margin: 0;
}

.table-container {
    position: relative;
    top: 75px;
}
