body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Work Sans", sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
}

header {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 66.6vw;
    background-color: rgb(237, 242, 239);
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 20px;
}

.contactInput {
    width: 200px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    margin-right: 5px;
}

#emailContent {
    opacity: 1;
    z-index: 1000;
    resize: none;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    width: 95%;
}

form {
    border: 1px solid gray;
    width: 460px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}

form h2 {
    font-family: "Roboto", sans-serif;
    color: rgb(250, 70, 22);
    text-align: center;
}

form h3 {
    text-align: left;
}

form div {
    text-align: left;
}

#subject {
    width: 94%;
}

form button {
    font-family: "Roboto", sans-serif;
    background-color: rgb(250, 70, 22);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
}

footer {
    background-color: rgb(49, 30, 16);
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

footer h3 {
    font-family: 'Roboto', sans-serif;
}

footer p {
    font-family: 'Work Sans', sans-serif;
}

.footerDescription p {
    line-height: 30px;
}

#openingHoursList {
    list-style: none;
    padding: 0;
}

#openingHoursList li {
    font-family: 'Work Sans', sans-serif;
    display: grid;
    grid-template-columns: 70px 1fr;
}

li p {
    margin-top: 5px;
    margin-bottom: 5px;
}