nav {
    background-color: rgb(250, 70, 22);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

.nav-content, .nav-content li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

#nav-list {
    text-align: center;
}

nav a {
    margin: 0.5vh 2vh 0.5vh 05vh;
}

nav a:hover,
#order-online:hover {
    color: #23FFC1;
    font-style: underline;
}

#logoSquare {
    width: 40%;
}

#logo {
    height: 75px;
    float: left;
    margin-left: 1vh;
}

#order-online {
    border-style: none;
    color: white;
    background-color: rgb(250, 70, 22);
    float: right;
    font-size: 30px;
}